extends ../layout

block content
    h1= title
    form(method='post', action='/api/login')
        div
        label(for='username') Username:
        input(type='text', name='username', id='username')
        div
        label(for='password') Password:
        input(type='password', name='password', id='password')
        div
        input(type='submit', value='Log In')