extends ../layout

block scripts
    script(src='/javascripts/register.js', defer='defer')

block content
    h1= title
    form(method='post', action='/api/register')
        div
        label(for='username') Username:
        input(type='text', name='username', id='username')
        div
        label(for='password') Password:
        input(type='password', name='password', id='password')
        div
        label(for='password2') Repeat Password:
        input(type='password', name='password2', id='password2')
        div
        input(type='submit', value='Register')