extends layout

block scripts
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='/javascripts/leaderboard.js', defer='defer', type='module')
    style.
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        th {
            margin: 0 2em;
        }


block content
    div.wrapper
        h1 Leaderboard
        div
            button#top-users.link Top Users
            button#top-friends.link Top Friends
        br
        div
            button#all-time.link All Time
            button#last-month.link Last Month
            button#last-week.link Last Week
        div.chart-container
            canvas#leaderboard-chart(width='400', height='400')
        table
            thead
                tr
                    th Rank
                    th User
                    th Score
            tbody#leaderboard-body