@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background: steelblue;
    color: antiquewhite;
}

main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 2.5rem;
    font-weight: 600;
}

a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 2.5rem;
    font-weight: 600;
}

button {
    font-size: 1rem;
    font-weight: 600;
    background: slateblue;
    color: palegreen;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0.5em;
}

.link {
    background-image: linear-gradient(
            to right,
            palegreen 50%,
            palegreen 50%,
            antiquewhite 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s ease-in-out;
}

.link:before {
    content: '';
    background: palegreen;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 1em;
    transition: all 0.5s ease-in-out;
}

.link:hover:not(:disabled) {
    background-position: 0;
}

.link:hover:not(:disabled)::before {
    width: 100%;
}

label {
    font-size: 2.5rem;
    font-weight: 600;
}

input[type='checkbox'], input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1em;
    margin-right: 1em;
    border: palevioletred 0.3em solid;
    border-radius: 0.5em;
    background: antiquewhite;
    transition: all 0.2s ease-in-out;
}

input[type='checkbox']:checked, input[type='radio']:checked {
    background: palegreen;
}

input[type='text'], input[type='password'] {
    font-size: 2rem;
    font-weight: 600;
    border: palevioletred 0.2em solid;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.5em;
    color: antiquewhite;
    background: dodgerblue;
    transition: all 0.2s ease-in-out;
}

input[type='text']:focus, input[type='password']:focus {
    background: palevioletred;
    outline: none;
}

input[type='submit'] {
    font-size: 2rem;
    font-weight: 600;
    border: palevioletred 0.2em solid;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.5em;
    color: antiquewhite;
    background: dodgerblue;
    transition: all 0.2s ease-in-out;
}

input[type='submit']:hover {
    background: palevioletred;
    color: dodgerblue;
    outline: none;
}


