doctype html
html
    head
        title Random Pug Files
        script(src='/javascripts/script.js', defer='defer')
        p#count.invisible=count
        p#type.invisible=type
        style.
            .invisible {
                display: none;
            }
    body
        div#challenge