extends ../layout
block scripts
    title Random Pug Files
    script(src='/javascripts/challenge.js', defer='defer')
    p#count.invisible=count
    p#type.invisible=type
    style.
        .invisible {
            display: none;
        }
block content
    div#challenge